<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <% if(isManager){ %>
      书评管理区
    <% }else{ %>
      <%= user[0].username %>
    <% } %>
  </title>

  <!-- icon使用的css -->
  <style type="text/css">
    .icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }
  </style>

  <!-- 自己写的css -->
 <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <header></header>
  <main class="personal clearfix">
    <% if(isManager){ %>
      <div class="comment" style="float: none; margin: 0 auto;">
    <% }else{ %>
      <div class="comment">
    <% } %>
    <% if(comments.length == 0){ %>
      <div class="singleComment">
        <p>您暂时还没有评论哟</p>
      </div>
    <% } %>
      <% for(let i=0; i<comments.length; i++){ %>
        <% if(isManager){ %>
          <form action="/managerDisplayComment" method="post">
        <% }else{ %>
          <form action="/displayComment" method="post">
        <% } %>
          <input type="text" name="cmid" value="<%= comments[i].cmid %>" style="display: none;">
          <input type="text" name="title" value="<%= comments[i].title %>" style="display: none;">
          <input type="text" name="time" value="<%= comments[i].time %>" style="display: none;">
          <input type="text" name="bookname" value="<%= comments[i].bookname %>" style="display: none;">
          <input type="text" name="content" value="<%= comments[i].content %>" style="display: none;">
          <div class="singleComment">
            <ul class="baseInfo">
              <li>
                <button type="submit"><%= comments[i].title %></button>
              </li>
              <li>
                <%= comments[i].time %>
              </li>
              <li>
                《<%= comments[i].bookname %>》
              </li>
            </ul>
            <p class="content">
              <%= comments[i].content %>
            </p>
          </div>
        </form>
      <% } %>
    </div>
    <% if(!isManager){ %>
      <div class="aside">
        <div class="about">
          <div class="title">个人档案</div>
          <ul>
            <li>
              <span class="title">用户名：</span>
              <span class="substance"><%= user[0].username %></span>
            </li>
            <li>
              <span class="title">手机号：</span>
              <span class="substance"><%= user[0].phone %></span>
            </li>
            <li>
              <span class="title">是否是会员：</span>
              <span class="substance">
                <% if(user[0].membership == 1){ %>
                  <%= '会员' %>
                <% }else{ %>
                  <%= '非会员' %>
                <% } %>
              </span>
            </li>
          </ul>
        </div>
      </div>
    <% } %>
  </main>
  <footer></footer>
</body>
  <script src="./js/jquery-3.3.1.min.js"></script>
  <script>
    $('header').load('header.html')
    $('footer').load('footer.html')
  </script>

  <!-- icon使用的script -->
  <script src="//at.alicdn.com/t/font_663490_9jbv33ouk6sz6w29.js"></script>


  <script src="./js/main.js"></script>

</html>